/* Baseline CSS */

html, body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida", sans-serif; 
	font-weight: 300;
	font-size: 12px;
	letter-spacing: 0.8px;
	line-height: 1.33333333em;
	color: #333333;
	
	min-width: 300px;
	margin:0;
}

header {
	text-align: center;
}

header h1 { font-size: 4em; line-height: 1em; }

header p { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

a, a:visited {
	color:#999999;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:active, a:hover {
	color: #333;
}

.clear{
	clear:both;
	padding:0;
	margin:0;
	height:0;
}

nav ul {
	margin-left: 0;
	-moz-padding-start: 0;
	-webkit-padding-start: 0;
}

nav ul li {
	display: inline;
	list-style: none;
	margin-right: 0.5em;
}

article {
	border-top: 1px dotted #e8e8e8;
	border-bottom: 1px dotted #e8e8e8;
	padding-bottom: 1em;
	width: 75%;
	margin: 0 auto;
}

img { max-width: 100%; height: auto; }

blockquote {
	font-size: 2em;
	line-height: 1em;
	font-weight: bold;
}
	
blockquote[cite]:after {
	content: "\2014" attr(cite);
	display: block;
	font-size: 0.75em;
	font-weight: 300;
	font-style: italic;
}

footer {
	margin-top: 3em;
	text-align: center;
	color: #adadad;
	font-size: 80%;
}

input[type=text]:focus{
	outline:none;
	border:1px solid #573373;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

/* WEBSITE MARKUP */

 .center-wrapper{
 	width:900px;
 	margin:0 auto;
 }

/*
	Header
*/
.header{
	margin-top:0px;
	background-color:#000;
	padding:15px;
}

.logo{
	float:left;
	margin-top: 5px;
    width:154px;
    height:110px;
    background:url(../img/vinyl_logo.jpg) no-repeat;
}

.topNav{
	float:left;
	margin:25px 0 0 50px;
}

.topNav a{
	margin:0 28px;
	color:#fff;
	text-decoration:none;
	font-size:20px;
	font-weight:normal;
}

.topNav a:hover{
	color:black;
	background-color: white;
	padding: 5px 0 5px 0;
}

.search-wrapper{
	float:right;
	margin:0 0 0 30px;
	padding-top: 7px;
}

.search-bar{
	width:120px;
	padding:18px 52px 17px 30px;
	border: none;
	font-size:12px;
	color:#686d71;
	background-color:#fff;
	background:url(../img/magnifying.png) 8px center no-repeat;
}

.cart{
	float:right;
	height: 52px;
	padding: 0 15px;
}
	
.cart a{
	font-size:15px;
	line-height:95px; /*same as height of .cart to center*/
	color:white;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	transition: color .3s;
	text-shadow:none;
	}

.cart a:hover{
	color:#666666;
}

.profile-wrapper{
	float:right;
	margin:0 auto;
}

.profile-wrapper img{
	margin-right:0;
}
	
.profile-wrapper .name{
	line-height:75%;
	color: #c7c7c7;
	font-size:12px;
}

.profile-wrapper .log-in{	
	line-height: 5px;
	color:#c7c7c7;
	font-size:10px;
}

.profile-wrapper .log-in:hover{	
 	color: white;
}

.account-info{
	margin:45px 15px 0 40px;
}
		
.slider-wrapper{
	width:100%;
	line-height:1em;
	margin:0 0 0 0;
	padding:0;
	text-align:right;
	background: #000;
}

.slider-text{
		padding:50px 30px 0 0;
		text-align:right;

	}

.slider-wrapper h1{
		width:auto;
		margin:0 0 0 10px;
		float:left;
		line-height:34px;
		color:#FFF;
		padding:0 0 20px 20px;
		text-shadow: -1px 1px #666666;
	}
	
.slider-wrapper h2{
	font-size:30px;
	font-family:;
	width:auto;
	margin:0;
	float:right;
	line-height:34px;
	color:#FFF;
	background-color: black;
	border:1px solid #cccccc; 
	padding:0 5px;
	}

.slider-wrapper h3, .slider-wrapper p{
	width:auto;
	margin:0;
	float:right;
	line-height:34px;
	color:#FFF;
	background-color: black;
	border:1px solid #cccccc; 
	padding:0 5px;
}

.slider-wrapper.short{
    min-height:100px;
    color: #000;
    background:url(../img/shortHeader.png) no-repeat;
}

/* Body */

.body-wrapper{
	background-color:#eaeaea;

	width:100%;
	padding:0px 0 0px 0;
	color:#686d71;
}

.home-content{
	float:left;
	width:20%;
	margin:35px 45px 0 10px;
}
		
.home-content h2{
	font-size:18px;
	line-height:32px;
	margin:0;
	width:100%;
	background-color: black;
	border:1px solid #cccccc; 
	padding:0 5px;
	color:white;
	padding-left:5px;
}

.home-content h3{
	font-size:15px;
	line-height:20px;
	margin:0 0 10px 0;
	width:70%;
	background-color: black;
	border:1px solid #cccccc; 
	padding:0 5px;
	color:white;
	padding-left:5px;
}
		
.home-content small{
	font-size:14px;
	margin:0 0 0 3px;
}

.home-content p{
	font-size:10px;
	line-height:19px;
	text-align: justify;
	margin:15px 0;
}

.home-content p img{
	margin:0px 10px 0 0;
}

.popular-module{
	float:left;	
	width:67%;
	padding:35px 0 20px 20px;
	min-height:570px;
	background:rgba(256,256,256,0.7);
}

.popular-module h2{
	font-size:18px;
	line-height:32px;
	margin:0 0 0 0;
	width:50%;
	padding:0 5px;
	padding-left:5px;	
}

.popular-module .view-more{
	font-weight:bold;
	font-size:14px;
	color:#999;
	margin:0 0 0 508px;
}

.popular-module .view-more2{
	font-weight:bold;
	font-size:14px;
	color:#999;
	margin:0px 0 0 618px;
}

.popular-module .view-more:hover{
	color:#333;
}
		
.popular-module select {
  	display: none;
  }
		
.vinyl-list{
	margin:30px 0 0 0;
	padding:0;
	width:100%;
}
		
.vinyl-list li{
	display:block;
	list-style-type: none;
	float:right;
	padding-right:0px;
}
		
.vinyl-list li hr{
	border:none;
	border-top:1px solid #cccccc;
}

.vinyl-list li h3{
	font-size:13px;
	padding-top:4px;
	margin:0;
}

.vinyl-list li h4{
	font-size:10px;
	font-weight:bold;
	padding-top: 3px;
	margin:0;
}
		
.vinyl-list li h5{
	font-size:8px;
	padding-top: 8px;
	margin:0;
}
		
.vinyl-list li img{
	margin:0px 10px 10px 0;
}
		
.vinyl-detail{
	clear:both;
}

.vinyl-list li button{
	float:right;
	margin:0 30px 17px 0;
	height: 25px;
	padding: 0 12px 0 12px;
	border: 1px solid #e0e0e0;
	background-color:#d3e3f4;
	color: #606060;
	line-height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

		
.vinyl-list li button:active{
	background-color:#ffffff;
	color:#000000;
}
		
.vinyl-list li button.buy{
	width:115px;
}

.vinyl-list li button.buy:hover{
	height:110px;
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

.vinyl-list li button.buy1:hover{
	color:#fff;
	background-color: #000	
	text-align: center;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

/* Audio */
audio
{
float:right;
margin:-114px 0px 0 0px;
background-color: #000;
color: #000;
width: 580px;
max-height: 100%;
max-width: 100%;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
}


/*
	Catalog
*/
.catalog-menu{
	margin:0 10px 0 0;
	width:120px;
	min-height:320px;
}
.catalog-content{
	width:720px;
	min-height:660px;
	padding:13px;
}
.catalog-list{
	width:100%;
	margin-left: 10px;
}
.catalog-list li{
	display:block;
	width:600px;
	float:left;
	clear:none;
	margin-right:40px;
}
.catalog-list li button{
	margin:5px 0 0 5px;
}

/* Genre menu*/
.product-genre{
	padding:7px;
	width:130px;
}

.product-genre h2{
		margin:10px 20px 20px 14px;
	}

.genre-menu{
	list-style-type: none;
	padding:0;
}

.genre-menu a{
	text-align:left;
	display:block;
	padding: 10px 20px;
	cursor:pointer;
}

.genre-menu a:hover, .genre-menu a:active{
		background:grey;
		color:#FFF;
	}

/* Product */
.product-breadcrumb{
	margin:0 0 20px 0;
	color:#82878a;
	width:100%;
}

.product-details-wrapper{
	float:left;
	width:70%;
	height:400px;
}
	.product-list{
		margin:15px 0 0 0;
	}
	.product-list li{
		margin:0 20px 0 0;
		width:auto;
	}
	
.product-related-wrapper{
	float:left;
	width:25%;
	border-left:1px dashed  #a1a7ab;
	height: 350px;
	padding: 0 0 0 20px;
	margin: 0px;
	}

.product-comments-wrapper{
	width:90%;
	background-color: white;
	padding:10px 20px;
}
	.product-comments-wrapper h2{
			font-size:20px;
			margin:15px 0;
		}
	
/* Product comments */

.comments-list{

}
	.comments-list li{
		clear:both;
		width:100%;
		list-style-type: none;
		margin:18px 0;
		border-bottom:1px dashed  #a1a7ab;
	}

.comment-data{
	float:left;
	width:170px;
}

.comment-data img{
	margin: 0 10px 0 0;
}
			
.comment-data h3{
	font-size:11px;
	margin:2px 0 2px 0px;
}

.comment-text{
	float:left;
	width:300px;
}

/* Related Product*/
.product-related-vinyl h2{
	clear:both;
	margin-left:15px;
}
	
.related-list{
	margin:15px 0 0 0;
}
		
.related-list li{
	display:block;
	list-style-type: none;
	float:left;
	padding:15px;
}

.related-list li hr{
	border:none;
	border-top:1px solid #cccccc;
}

.related-list li h3{
	font-size:13px;
	padding-top:4px;
	margin:0;
}

.related-list li h4{
	font-size:10px;
	font-weight:bold;
	margin:0;
}

.related-list li h5{
	font-size:8px;
	margin:0;
}

.related-list li img{
	margin:0 10px 10px 0;
}

.related-detail{
	clear:both;
	margin-left:23px;
}

.related-list li button{
	float:right;
	margin:0 22px 15px 0;
	height: 25px;
	padding: 0 12px 0 12px;
	border: 1px solid #e0e0e0;
	color: #606060;
	line-height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
		
.related-list li button:hover{
	border:0px solid #999;
}

.related-list li button:active{
	background-color:#ffffff;
	color:#000000;
}

.related-list li button.buy{
	width:88px;
}

.related-list li button.buy:hover{
	height:48px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

/* =================================================
* Contact
* ================================================== */
.contact-wrapper{
	background-color:#eaeaea;
	width:100%;
	padding:15px 0 0px 0;
	color:#686d71;
}
.contact-content{
	width:50%;
	float:left;
	padding:0 0 50px 30px;
}

.contactInfo{
	list-style:none;
}
	
.twitter, .facebook{
	display:inline;
	list-style: none;
	background-repeat: no-repeat;
	padding: 4px 28px 25px;	
}

.twitter{background-image:url('../img/twitter.png')}

.facebook{background-image:url('../img/facebook.png')}
	
.maps{
	float:right;
}

form{
	width:70%;
}
	
form *{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
		box-sizing: border-box;
}

form div{
	padding-right:7px;
	margin: 2px 0 12px;
}

form label{
	display:block;
	padding: ;
	margin-top:3px;
	font-size:14px;
}
	
form div.name, form div.email{
	width:50%;
	float:left;
}

form div.country{
	width:30%;
	float:left;
}

form input, form textarea{
	width:100%;
	padding: 0.5em;
	margin-top:6px;
}

form textarea{
	noresize: none;
}

form input[type="submit"]{
	float:right;
	margin:20px 0;
	height: 25px;
	width: 150px;
	padding: 0 12px 0 12px;
	border: 1px solid #e0e0e0;
	color: #606060;
	font-size:15px;
	background-color: #d3e3f4;
	line-height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}


/* Cart */
.cart-content{ 
	float:left;
	margin:10px 10px 0 0;
}

.cart-content img{
	margin: 20px 0 0 300px;
}

.cart-item{ 
	background-color: white;
	float:left;
	width:100%;
	margin:30px 10px 50px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.cart-item h2{
	display:block;
	padding-left:30px;
	margin-top:20px;
	width:90%;
	clear:none;
}

.cart-list{
	border: 1px solid #e0e0e0;
	margin: 30px;
	width:800px;
	float:left;
	clear:none;
}

.cart-list li {
	display:inline-block;
	font-size:13px;
	line-height:70px;
	margin-right:160px;
	list-style: none;
}		

.cart-list  img{
	margin:10px 10px 10px 0;
	}

.cart-item.pay{
	background-color: white;
	float:left;
	width:400px;
	margin:30px 10px 50px 0;
	min-height:300px;
}

.cart-list.pay{
	border: 1px solid #e0e0e0;
	margin: 20px;
	width:200px;
	float:left;
	clear:none;
}

.cart-list.pay li {
	display:inline;
	font-size:13px;
	line-height:70px;
	margin-right:10px;
	list-style: none;
}
	
.cart-list.pay{
	border: 1px solid #e0e0e0;
	margin: 20px;
	width:300px;
	float:left;
	clear:none;
}

.grand{
	clear:both;
	text-align:right;
	font-size:13px;
}

.grand li{
	list-style: none;
	margin-right:60px;
}

 .grand.pay{
 	margin-left:200px;
 	font-size:13px;
 }

 .grand form{
	 width:97%;
 }

.proceed{
	margin:10px 100px 10px 0;
	float:right;
	margin:0 30px 17px 0;
	height: 25px;
	padding: 0 12px 0 12px;
	border: 1px solid #e0e0e0;
	color: #606060;
	background-color: #d3e3f4;
	line-height: 25px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.proceed.pay button{
font-size:40px;
	}

.pay-method{
	background-color: white;
	float:left;
	width:480px;
	margin:30px 0 50px 0;
	padding-top:30px;
}

.pay-method h2{	
	padding-left:20px;
}

.pay-form{
	margin-left:20px;
}	

.navbar{
	background-color:#000;
}


/*=====	Footer ======*/
.footer-wrapper{
	background-color:#000;
	width:100%;
	padding:20px 0 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 12px;
}

#footer {
	background-color: #000;
	height: 38px;
}


#footer div {
	padding-top: 11px;
	margin: auto;
	overflow: hidden;
	width: 960px;
}

#footer div p {
	font-family: Times New Roman, Times, serif;
	margin: 0;
}

#footer div p a {
	color: #fff;
	text-decoration: none;
}

#footer div p a:hover {
	color: #665B51;
	text-decoration: underline;
}

#footer div p.connect {
	float: left;
	color: #c7c7c7;
}

#footer div p.footnote {
	float: right;
	color: #c7c7c7;
}

